* {
	box-sizing: border-box;
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
}

h1 {
	text-align: center;
	font-family: 'Sigmar One', cursive;
	font-size: 48px;
}

#jerk-input {
	width: 200px;
	height: 35px;
	margin: 5px 0;
}

label[for="jerk-input"] {
	font-size: 24px;
}

.btn-info {
	margin: 10px;
}